<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ekgc.itrip.dao.HotelOrderDao">
	<select id="findOrderRoomCountByQuery" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
			count(iho.count)
		from
			itrip_hotel_order iho
		where
			iho.roomId=#{roomId}
		and
			date_format(iho.checkInDate, '%Y-%m-%d %H:%i:%s') &lt;= date_format(#{endDate}, '%Y-%m-%d %H:%i:%s')
		and
			date_format(iho.checkOutDate, '%Y-%m-%d %H:%i:%s') &gt;= date_format(#{startDate}, '%Y-%m-%d %H:%i:%s')
		and
			iho.orderStatus in (0, 2)
	</select>

	<insert id="saveHotelOrder" parameterType="HotelOrder">
	insert into itrip_hotel_order(
	<trim suffixOverrides=",">
		<if test="id != null">id, </if>
		<if test="userId != null">userId, </if>
		<if test="orderType != null">orderType, </if>
		<if test="orderNo != null">orderNo, </if>
		<if test="tradeNo != null">tradeNo, </if>
		<if test="hotelId != null">hotelId, </if>
		<if test="hotelName != null">hotelName, </if>
		<if test="roomId != null">roomId, </if>
		<if test="count != null">count, </if>
		<if test="bookingDays != null">bookingDays, </if>
		<if test="checkInDate != null">checkInDate, </if>
		<if test="checkOutDate != null">checkOutDate, </if>
		<if test="orderStatus != null">orderStatus, </if>
		<if test="payAmount != null">payAmount, </if>
		<if test="payType != null">payType, </if>
		<if test="noticePhone != null">noticePhone, </if>
		<if test="noticeEmail != null">noticeEmail, </if>
		<if test="specialRequirement != null">specialRequirement, </if>
		<if test="isNeedInvoice != null">isNeedInvoice, </if>
		<if test="invoiceType != null">invoiceType, </if>
		<if test="invoiceHead != null">invoiceHead, </if>
		<if test="linkUserName != null">linkUserName, </if>
		<if test="bookType != null">bookType, </if>
	</trim>
	) values(
	<trim suffixOverrides=",">
		<if test="id != null">#{id}, </if>
		<if test="userId != null">#{userId}, </if>
		<if test="orderType != null">#{orderType}, </if>
		<if test="orderNo != null">#{orderNo}, </if>
		<if test="tradeNo != null">#{tradeNo}, </if>
		<if test="hotelId != null">#{hotelId}, </if>
		<if test="hotelName != null">#{hotelName}, </if>
		<if test="roomId != null">#{roomId}, </if>
		<if test="count != null">#{count}, </if>
		<if test="bookingDays != null">#{bookingDays}, </if>
		<if test="checkInDate != null">#{checkInDate}, </if>
		<if test="checkOutDate != null">#{checkOutDate}, </if>
		<if test="orderStatus != null">#{orderStatus}, </if>
		<if test="payAmount != null">#{payAmount}, </if>
		<if test="payType != null">#{payType}, </if>
		<if test="noticePhone != null">#{noticePhone}, </if>
		<if test="noticeEmail != null">#{noticeEmail}, </if>
		<if test="specialRequirement != null">#{specialRequirement}, </if>
		<if test="isNeedInvoice != null">#{isNeedInvoice}, </if>
		<if test="invoiceType != null">#{invoiceType}, </if>
		<if test="invoiceHead != null">#{invoiceHead}, </if>
		<if test="linkUserName != null">#{linkUserName}, </if>
		<if test="bookType != null">#{bookType}, </if>
	</trim>
	)
</insert>

	<select id="findHotelOrder" parameterType="HotelOrder" resultMap="hotelOrderMap">
		select
			iho.id,
			iho.userId,
			iho.orderType,
			iho.orderNo,
			iho.tradeNo,
			iho.hotelId,
			iho.hotelName,
			iho.roomId,
			iho.count,
			iho.bookingDays,
			iho.checkInDate,
			iho.checkOutDate,
			iho.orderStatus,
			iho.payAmount,
			iho.payType,
			iho.noticePhone,
			iho.noticeEmail,
			iho.specialRequirement,
			iho.isNeedInvoice,
			iho.invoiceType,
			iho.invoiceHead,
			iho.linkUserName,
			iho.bookType,
			iho.creationDate,
			iho.createdBy,
			iho.modifyDate,
			iho.modifiedBy
		from
			itrip_hotel_order iho
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">iho.id=#{id} and </if>
				<if test="userId != null">iho.userId=#{userId} and </if>
				<if test="orderType != null">iho.orderType=#{orderType} and </if>
				<if test="orderNo != null">iho.orderNo=#{orderNo} and </if>
				<if test="tradeNo != null">iho.tradeNo=#{tradeNo} and </if>
				<if test="checkInDate != null">iho.checkInDate=#{checkInDate} and </if>
				<if test="checkOutDate != null">iho.checkOutDate=#{checkOutDate} and </if>
				<if test="orderStatus != null">iho.orderStatus=#{orderStatus} and </if>
				<if test="linkUserName != null">iho.linkUserName like concat('%',#{linkUserName},'%') and </if>
			</trim>
		</where>
	</select>

	<resultMap id="hotelOrderMap" type="HotelOrder">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="userId" javaType="java.lang.Long" column="userId"/>
		<result property="orderType" javaType="java.lang.Integer" column="orderType"/>
		<result property="orderNo" javaType="java.lang.String" column="orderNo"/>
		<result property="tradeNo" javaType="java.lang.String" column="tradeNo"/>
		<result property="hotelId" javaType="java.lang.Long" column="hotelId"/>
		<result property="hotelName" javaType="java.lang.String" column="hotelName"/>
		<result property="roomId" javaType="java.lang.Long" column="roomId"/>
		<result property="count" javaType="java.lang.Integer" column="count"/>
		<result property="bookingDays" javaType="java.lang.Integer" column="bookingDays"/>
		<result property="checkInDate" javaType="java.util.Date" column="checkInDate"/>
		<result property="checkOutDate" javaType="java.util.Date" column="checkOutDate"/>
		<result property="orderStatus" javaType="java.lang.Integer" column="orderStatus"/>
		<result property="payAmount" javaType="java.lang.Double" column="payAmount"/>
		<result property="payType" javaType="java.lang.Integer" column="payType"/>
		<result property="noticePhone" javaType="java.lang.String" column="noticePhone"/>
		<result property="noticeEmail" javaType="java.lang.String" column="noticeEmail"/>
		<result property="specialRequirement" javaType="java.lang.String" column="specialRequirement"/>
		<result property="isNeedInvoice" javaType="java.lang.Integer" column="isNeedInvoice"/>
		<result property="invoiceType" javaType="java.lang.Integer" column="invoiceType"/>
		<result property="invoiceHead" javaType="java.lang.String" column="invoiceHead"/>
		<result property="linkUserName" javaType="java.lang.String" column="linkUserName"/>
		<result property="bookType" javaType="java.lang.Integer" column="bookType"/>
		<result property="creationDate" javaType="java.util.Date" column="creationDate"/>
		<result property="createdBy" javaType="java.lang.Long" column="createdBy"/>
		<result property="modifyDate" javaType="java.util.Date" column="modifyDate"/>
		<result property="modifiedBy" javaType="java.lang.Long" column="modifiedBy"/>
	</resultMap>

	<select id="findOrderLinkUserByQuery" parameterType="HotelOrder" resultMap="linkUserMap">
		select
			iolu.linkUserId,
			iolu.linkUserName
		from
			itrip_order_link_user iolu
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">orderId=#{id} and </if>
			</trim>
		</where>
	</select>

	<update id="updateOrderStatus" parameterType="java.util.Map">
		update itrip_hotel_order
		<set>
			<trim suffixOverrides=",">
				<if test="tradeNo != null">orderStatus=#{tradeStatus} ,</if>
			</trim>
		</set>
		<where>
			<trim suffixOverrides="and">
				<if test="tradeNo != null">tradeNo=#{tradeNo} and </if>
			</trim>
		</where>
	</update>

	<resultMap id="linkUserMap" type="ItripUserLinkUser">
		<id property="id" javaType="java.lang.Long" column="linkUserId"/>
		<result property="linkUserName" javaType="java.lang.String" column="linkUserName"/>
	</resultMap>
</mapper>